{% extends "base.html.twig" %}
{% block content %}
    <h2>{{list_tittle}}</h2>
    {# VISTA PRODUCTOS #}
    {% if table_for == "productos" %}
    <table border=1 frame=void>
        <thead>
        <tr>
            <td style="color:#666699;">Descripcion</td>
            <td style="color:#666699;">Almacen</td>
            <td style="color:#666699;">Unidad</td>
            <td style="color:#666699;">Clasificacion</td>
            <td style="color:#666699;">Precio por Unidad</td>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
        <tr>
            <td>{{result.getDescripcion|capitalize}}</td>
            <td>{{result.getNombreAlmacen.getNombre|capitalize}}</td>
            <td>{{result.getUnidad|capitalize}}</td>
            <td>{{result.getClasificacion}}</td>
            <td>{{result.getPrecioUnidad|number_format(2, ',', '.')}} €</td>    
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {# VISTA ALMACENES #}
    {% if table_for == "almacenes" %}
    <table border=1 frame=void>
        <thead>
        <tr>
            <td style="color:#666699;">Nombre</td>
            <td style="color:#666699;">Localizacion</td>
            <td style="color:#666699;">Descripcion</td>
        </tr>
        </thead>
        <tbody >
        {% for result in results %}
        <tr>
            <td>{{result.getNombre|capitalize}}</td>
            <td>{{result.getLocalizacionAlmacen|capitalize}}</td>
            <td>{{result.getDescripcionAlmacen|capitalize}}</td>    
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {# VISTA EMPRESAS #}
    {% if table_for == "empresas" %}

    <button type="button" style="background-color:#666699;"><a href="/insert">Insertar Empresa</a></button>
    <table border=1 frame=void>
        <thead>
        <tr>
            <td style="color:#666699;">ID Empresa</td>
            <td style="color:#666699;">Nombre</td>
            <td style="color:#666699;">CIF</td>
            <td style="color:#666699;">Tipo</td>
            <td style="color:#666699;" colspan="2">Acciones</td>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
        <tr>
            <td>{{result.getId}}</td>
            <td>{{result.getNombre|capitalize}}</td>
            <td>{{result.getCif}}</td>
            <td>{% if result.getTipo == 0 %}Proveedor{% endif %}{% if result.getTipo == 1 %}Cliente{% endif %}</td>
            <form method="post" action="/business">
                <td><button type="submit" name="id_empresa" style="background-color:#666699;" value={{result.getId}}>Update</button></td>
            </form>
            <td><button type="button" style="background-color:#666699;"><a href="/delete/{{result.getId}}">Borrar</a></button></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {% endif %}
    
{% endblock %}